*.[oa]
*~
*.obj
*.pro.user*
.tmp/*
contrib/sys/*/*/*/*
contrib/sys/*/lib/*
contrib/sys/*/dll/*
contrib/sys/*/bin/*
!contrib/sys/*/*/*.udoc
!contrib/sys/*/*.udoc
!contrib/sys/*.udoc
!contrib/sys/*/doocs64_install/server/*.bat
sys/*/*/*/*
sys/*/lib/*
sys/*/dll/*
sys/*/bin/*
!sys/*/*/*.udoc
!sys/*/*.udoc
!sys/*.udoc
!sys/*/install/server/*.bat
prj/*/*/*
!prj/*/*_vs*/*.sln
!prj/*/*_vs*/*.vcxproj
!prj/*/*_vs*/*.vcxproj.filters
!prj/*/*_vs*/*.vdproj
!prj/*/*/*.pro
!prj/*/*/*.cmake
!prj/*/*_mkfl/Makefile
!prj/common/*
!prj/common/*/*
!prj/common/*/*/*
workspaces/*/*
!workspaces/*/*.sln
moc_*.cpp
.gitattributes
.DS_Store
.qmake.stash
src/.original/*/*
contrib/doocs/*
#include/.private/*.h
#include/.private/*/*.h
include/qt_zlib_compression_routines.hpp.autosave
